* {
	margin: 0;
	padding:0;
	font-family: Lato, Verdana;
}

i {
	font-size: 100%r;
}

div {
	backface-visibility: hidden;
}

content {
	width:100%;
	height:100%;
	position:absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: calc(1vmin + 1vmax);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 36%;
	height:10vh;
	z-index: 5;
	filter: drop-shadow(-5px -5px 10px rgba(0,0,0,.9));
}

header > div {
	background: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 20px 20px 0;
	clip-path: polygon(
	0% 0%, 
	100% 0%, 
	calc(100% - 50px) 100%, 
	0% calc(100% - 20px)
	);
}

header > div > div {
	width:20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#description {
	font-weight: 300;
	font-variant: small-caps;
	font-size: 100%;
	color: #d60b51;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

#logo-FE, #logo-energys {
	max-width:100%;
	max-height:100%;
}



selector {
	position: fixed;
	z-index: 3;
	left: 0;
	display: flex;
	flex-direction: column-reverse;
	top:10vh;
	text-align: center;
	filter: drop-shadow(-5px -5px 15px rgba(0,0,0,.8));

}

selector i {
	padding: 1.5vh 0.5vw;
	color: #000;
	text-shadow: -1px -1px 2px rgba(0,0,0,.5), 1px 1px 2px rgba(255,255,255,.5);
	text-align: center;
	font-weight:300 !important;
	position:relative;
	transition: color .5s;
}


selector i:nth-child(1) {
	z-index:1;
}
selector i:nth-child(2) {
	z-index:2;
}
selector i:nth-child(3) {
	z-index:3;
}
selector i:nth-child(4) {
	z-index:4;
}

selector i:not(:first-child) {
	filter: drop-shadow(-2px 1px 2px rgba(0,0,0,.5));

}


selector i:hover {
	cursor:pointer;
}



selector i:nth-child(4).active,
selector i:nth-child(4):hover {
	color:#d60b51;
}

selector i:nth-child(3).active,
selector i:nth-child(3):hover {
	color:#00897B;
}

selector i:nth-child(2).active,
selector i:nth-child(2):hover {
	color:#1E88E5;
}

selector i:nth-child(1).active,
selector i:nth-child(1):hover {
	color:#546E7A;
}

selector i:after {
	content:'';
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background:#CFD8DC;
	padding: 5px 0 0 0;
	z-index: -1;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5px));
	transition: padding .5s;
}

selector i:before {
	transition: margin .5s;
	margin: 0 0 0 0;
}


selector i.active:before,
selector i:hover:before {
	margin: 0 -10px  0 10px;
}

selector i.active:after,
selector i:hover:after {
	padding: 5px 10px 0 0;
}





wall {
	overflow:hidden;
	background: #ECEFF1;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

section {
	width:100vw;
	height:100vh;
	position:absolute;
	left:0vw;
	top:0vh;
	z-index:1;
}

section > * {

}	


section intro {
	position: absolute;
	z-index:10;
	top: -100%;
	left:-100%;
	width: 35%;
	height: 30vh;
	transition: left .5s ease-in, top .5s ease-in;
	overflow:visible;
	filter: drop-shadow(-5px -5px 15px rgba(0,0,0,.9));
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 13vh 0 2vh;
}

section intro:before {
	content:'';
	position: absolute;
	width: 100%;
	height: 100%;
	top:0%;
	left:0%;

	z-index:-1;
	padding: 0 5% 5% 0;
	clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 90%);
}

section[data-type='batiment'] intro:before {
	background: #d60b51;
}

section[data-type='electricite'] intro:before {
	background: #00897B;
}

section[data-type='eau'] intro:before {
	background: #1E88E5;
}

section[data-type='recyclage'] intro:before {
	background: #546E7A;
}


section intro subtitle {
	color: white;
	text-shadow:
	-1px -1px 2px rgba(0,0,0,.5), 
	1px 1px 2px rgba(255,255,255,.5);
	padding: 2% 0 0 15%;
	display: inline-block;
}

section intro pre {
	display:inline-block;
	font-size: 95%;
	padding: 0 0 0 1vw;
}

section intro > div {
	padding: 4vh 10% 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	height: inherit;
}

section intro fact {
	padding: 0 1vw;
	display: flex;
	font-size:70%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 85%;
	text-align: right;
}

section intro fact:nth-child(2) {
	margin:0 2.5% 0 0;
}

section intro fact:nth-child(3) {
	margin:0 5% 0 0;
}


section .oneimp fact:nth-child(1) {
	/*flex-direction: row-reverse;*/
}

section .oneimp fact:nth-child(1) desc {
	/*padding: 5px 0px 5px 10px;*/
}

section intro fact desc {
	padding: 0 1vw;
	color: #ECEFF1;
}

section intro fact desc i {
    font-size: 50%;
}

section intro fact num {
	display:block;
	background: #ECEFF1;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	white-space: nowrap;
	padding: 2vh 10px;
	text-align: center;
	min-width: 5vw;
}

section .oneimp fact:last-child num {
	background: #B0BEC5;
}

section .oneimp fact:not(:last-child) num {
	font-variant: small-caps;
	font-size: 80%;
	color: #d60b51;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

section article {
	position: absolute;
	z-index:5;
	left:0;
	top: 50%;
	width: 35%;
	height: 50%;
	opacity:0;
	transition: opacity 1s 0s ease-in-out;
	font-size: 75%;
}

section article > div {
	padding:5%;
	position: relative;
	height: 90%;
}


section article:before {
	font-family: "Font Awesome 5 Pro";
	font-family: "Font Awesome 5 Pro";
	font-size: 12em;
	position: absolute;
	padding: 5%;
	color: rgba(255,255,255,0.5);
	text-shadow: -1px -1px 2px rgba(0,0,0,.2);
	z-index: -1;
}

section[data-type='batiment'] article:before {
	content: "\f1ad";
	bottom: 0;
	left:0;
}

section[data-type='batiment'] article > div {
	padding: 10% 5%;
	height:80%;
}

section[data-type='batiment'] article ul {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;

}

section[data-type='batiment'] article ul li {
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	margin: 5px;
}

section[data-type='batiment'] article ul li desc {
	background: #fff;
	padding: 0 10px;
}

section[data-type='batiment'] article ul li num {
	font-size: medium;
	background: #CFD8DC;
	display: block;
	padding: 20px 40px;
}


section[data-type='batiment'] article ul li.focus {
	width: 80%;
	position: absolute;
	bottom: 10%;
	right: 5%;
	background: rgba(255,255,255,.7);
}

section[data-type='batiment'] article ul li.focus desc {
	padding: 10px;
	background: none;
}

section[data-type='batiment'] article ul li.focus desc sm {
	display:inline-block;
	font-weight: 300;
	font-size: 80%;
}

section[data-type='batiment'] article ul li.focus num {
	font-size: medium;
	background: none;
	display: block;
	padding: 20px;
	align-self: flex-end;
	text-align: center;
}



section[data-type='electricite'] article:before {
	content: "\f0eb";
	top: 0;
	left:0;
}

section[data-type='electricite'] article > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5% 5% 0;
	position: relative;
	height: 85%;
}


section[data-type='electricite'] article > p {
	font-style: italic;
	font-size: 75%;
	font-weight: 300;
	height: 5%;
	display: inline-block;
	position: absolute;
	bottom: 5px;
	left: 10px;
}

section[data-type='electricite'] article span {
	padding: 10px 0;
	display: inline-block;
}

section[data-type='electricite'] article desc {
	font-size: 80%;
	font-weight:300;
}

section[data-type='electricite'] article lcol,rcol {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 47%;
}

section[data-type='electricite'] article lcol ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height:100%;
}

section[data-type='electricite'] article lcol li {
	list-style: none;
	display:flex;
	flex-direction: row;
}


section[data-type='electricite'] article lcol li desc {
	text-align: right;
	width:50%;
	padding: 10px 10px 10px 0;
	flex: 1 0;
}

section[data-type='electricite'] article lcol li num {
	background: #fff;
	flex: 0 0;
	padding: 10px 5px;
	font-size:80%;
	font-weight: 300;
}


section[data-type='electricite'] article rcol ul {
	padding: 0 10px 0 0;
}


section[data-type='electricite'] article rcol div:first-child {
	background: rgba(255,255,255,.7);
	padding: 5px;
}

section[data-type='electricite'] article rcol w {
	font-weight:bold;
	color: #00897B;
}


section[data-type='electricite'] article rcol div:last-child {
	display:flex;
	flex-direction: row;
	justify-content:space-around;
}


section[data-type='electricite'] article rcol li {
	list-style: none;
	display:flex;
	flex-direction: row-reverse;
	justify-content:flex-end;
	position: relative;
}

section[data-type='electricite'] article rcol li:before {
	content: '';
	width: 10px;
	height: calc(100% - 10px);
	position: absolute;
	top: 0;
	left: -15px;
	margin: 5px 0;
}

section[data-type='electricite'] article rcol li:nth-child(2):before {
	background: #FFA726;
}

section[data-type='electricite'] article rcol li:nth-child(3):before {
	background: #66BB6A;
}

section[data-type='electricite'] article rcol li:nth-child(4):before {
	background: #FFEE58;
}

section[data-type='electricite'] article rcol li:nth-child(5):before {
	background: #EF5350;
}

section[data-type='electricite'] article rcol li:nth-child(6):before {
	background: #42A5F5;
}



section[data-type='electricite'] article rcol li desc {
	padding: 10px 0;
}

section[data-type='electricite'] article rcol li num {
	padding: 10px;
	font-size: 80%;
}


section[data-type='electricite'] article rcol img {
	align-self: center;
	max-width: 50%;
}




section[data-type='eau'] article:before {
	content: "\f043";
	top: 0;
	right:0;
}

section[data-type='eau'] article p {
	font-size: 75%;
	font-style: italic;
}

section[data-type='eau'] article ul {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

section[data-type='eau'] article ul div > img {
    max-width: 100%;
    max-height: 100%;
}

section[data-type='eau'] article ul li {
	list-style: none;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	position:relative;
}


section[data-type='eau'] article ul li:first-child {

	padding: 0px 0px 50px 0px;
}

section[data-type='eau'] article ul li:first-child:after {
	content: '';
	width: 90%;
	height: 1px;
	background: #CFD8DC;
	position: absolute;
	bottom: 25px;
	left: 5%;
	z-index: -1;
	box-shadow: -1px -1px 1px rgba(0,0,0,.1);
}

section[data-type='eau'] article ul li desc {
	padding: 0 10px;
}

section[data-type='eau'] article ul li:first-child desc {
	font-size: 100%;
}

section[data-type='eau'] article ul li num {
	font-size: medium;
	display: block;
	padding: 20px 40px;
	color:#1E88E5;
	background: #fff;
}


section[data-type='recyclage'] article > div {
	padding: 5%;
	height:80%;
}

section[data-type='recyclage'] article > div > div {
    width: calc(4 * 40px);
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section[data-type='recyclage'] article > div > div span {
	font-weight:300;
	font-size: 80%;

}

section[data-type='recyclage'] article:before {
	content: "\f1b8";
	bottom:0;
	right:0;
}

section[data-type='recyclage'] article span {
	font-weight:bold;
}

section[data-type='recyclage'] article ul {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	position: relative;
}


section[data-type='recyclage'] article ul li {
	list-style:none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

section[data-type='recyclage'] article ul > div {
	padding: 5px 0 5px 5px;
	margin: 10px 0;
	position: relative;
}

section[data-type='recyclage'] article ul:before {
	content:'';
	position:absolute;
	width: calc((4 * (40px) ) + 20px);
	right:-10px;
	top:0;
	height:100%;
	background:rgba(255,255,255,0.5);
}

section[data-type='recyclage'] article ul > div:before {
	content:'';
	width: 10px;
	height: 100%;
	position: absolute;
	top:0;
	left:-15px;
}

section[data-type='recyclage'] article ul > div:nth-child(1):before {
	background: #FFD600;
}

section[data-type='recyclage'] article ul > div:nth-child(2):before {
	background: #00BFA5;
}

section[data-type='recyclage'] article ul > div:nth-child(3):before {
	background: #C51162;
}

section[data-type='recyclage'] article ul > div:nth-child(4):before {
	background: #546E7A;
}

section[data-type='recyclage'] article ul > div:nth-child(5):before {
	background: #2962FF;
}


section[data-type='recyclage'] article ul > div:not(:last-child):after {
	content: '';
	width: 100%;
	height: 1px;
	background: #CFD8DC;
	position: absolute;
	bottom: -10px;
	left: 0%;
	z-index: -1;
	box-shadow: -1px -1px 1px rgba(0,0,0,.1);
}

section[data-type='recyclage'] article ul li num {
	margin: 0px 10px;
	text-align: center;
	width: 20px;
}

section[data-type='recyclage'] article ul li:not(:first-child) desc,
section[data-type='recyclage'] article ul li:not(:first-child) num {
	font-weight:300;
	font-size:80%;
}


section[data-type='recyclage'] article ul li desc {
	margin: 0 auto 0 0;
}


/************************************************************
 *
 */





	section action {
		opacity:0;
		position: absolute;
		z-index:1;
		left:35%;
		top:-100vh;
		width:35%;
		height:100vh;
	}

	section action > div {
		position: absolute;
		width: 90%;
		height: calc(98% - 50px);
		top: 50px;
		left: 5%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	section action block {
		display: flex;
		width: 100%;
		height:30%;
		position: relative;
		flex-direction: row;
		background: #fff;
		box-shadow: 5px 10px 20px -10px rgba(0,0,0,.3);
	}

	section action block:before {
		content: '';
		height: 0;
		left:-10px;
		font-size:80%;
		width: 0;
		border-top: 10px solid #009688;
		border-left: 10px solid transparent;
		top: 40px;
		position: absolute;
		z-index:-1;
	}

	section action block.current:before {
		border-top: 10px solid #880E4F;
	}


	@keyframes glow {
		0% {

			box-shadow: 1px 1px 7px -3px rgba(0,0,0,.8),
			inset 0px 0px 75px -75px rgba(255,255,255,0.8);

		}
		3% {

			box-shadow: 1px 1px 7px -3px rgba(0,0,0,.8),
			inset 0px 0px 75px -25px rgba(255,255,255,0.8);

		} 5% {
			box-shadow: 1px 1px 7px -3px rgba(0,0,0,.8),
			inset 0px 0px 75px 0px rgba(255,255,255,0.8);


		}
		7% {

			box-shadow: 1px 1px 7px -3px rgba(0,0,0,.8),
			inset 0px 0px 75px -25px rgba(255,255,255,0.8);

		}
		10% {

			box-shadow: 1px 1px 7px -3px rgba(0,0,0,.8),
			inset 0px 0px 75px -75px rgba(255,255,255,0.8);



		}
		100% {

			box-shadow: 1px 1px 7px -3px rgba(0,0,0,.8),
			inset 0px 0px 75px -75px rgba(255,255,255,0.8);


		}
	}

	section action block:after {
		content: 'A venir';
		position: absolute;
		left:-10px;
		top: 10px;
		height: 30px;
		padding: 0 5px;
		display: inline-block;
		width: 75px;
		text-align: center;
		background: #009688;
		line-height:30px;
		vertical-align:middle;
		color:#fff;
		box-shadow: 1px 1px 7px -3px rgba(0,0,0,.8),
		inset 0px 0px 75px -75px rgba(255,255,255,0.8);
		font-variant: small-caps;
		font-size: 60%;
		animation: glow 5s linear infinite forwards;
	}

	section action block.current:after {
		background: #d60b51;
		content: 'En cours';
	}

	section action block lsec {
		width:30%;
		box-shadow: inset -5px 0px 15px -10px rgba(0,0,0,.5);
		display:flex;
		flex-direction:column;
		justify-content: space-evenly;
		align-items: center;
		padding: 0 0 10% 0;
		background: #FCE4EC;
	}

	section action block lsec div {
		width: 80%;
		height: 75px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		margin: 10px;
	}


	section action block lsec div img {
		max-width: 100%;
		min-height: 100px;
	}

	section action block lsec bdesc {
		font-size: 65%;
		font-weight: 300;
		margin: 0 10px;
		text-align: center;
	}


	section action block rsec {
		width:70%;
		padding: 0 10px 10% 10px;
		display:flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		font-size: 70%;
	}


	section action block rsec div {
		margin: 5px 10px;
		background-repeat: no-repeat;
		background-size: contain;
		flex: 1 0 auto;
		width: 100%;
		background-position: 50% 50%;
	}


	section action block rsec p {
		font-size: smaller;
		text-align: center;
		margin: 5px;
	}

	section action block rsec p img {
		max-height: 1em;
		padding: 0 5px;
	}

	section action block btick {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 90%;
		padding: 10px 5%;
		background: #d60b51;
		color: white;
		box-shadow: 0 1px 7px 0px rgba(0,0,0,.4);
		font-variant: petite-caps;
	}

	section realtime {
		display:none;
		position: fixed;
		top: 50px;
		right: 0;
		max-height: calc(13vh - 50px);
		opacity: 0;
		transition: opacity 0s 2s ease-in;
		padding: 2vh calc(.05 * 30vw) 0;
		width: calc(30vw - ( .1 * 30vw ) );
	}

	section realtime i {
		padding: 0 20px;
		font-size: x-100%;
	}

	section realtime:after {
		content:'';
		position:absolute;
		top:0;
		right:0%;
		width: 120%;
		height:100%;
		background:#ECEFF1;
		clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
		/*box-shadow:-15px 0 50px -5px #ECEFF1;*/
		transition: right 1.5s .5s ease-in-out;
	}
	section realtime > div {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items:center;

		justify-content: space-between;
		background: #B0BEC5;
		position:relative;
		box-shadow: inset 4px 4px 10px -5px rgba(0,0,0,.4);
		clip-path: polygon(0% 0%, 100% 0%, 97% 100%, 0% 100%);
	}
	section realtime > div:before {
		content:'';
		width:1%;
		height:100%;
		position: absolute;

		right: calc(65px + 1em);
		top: 0;
		box-shadow: 0px 0px 10px 5px rgba(50,50,50,.1);
		transform: rotate(10deg);
	}

	section[data-type='batiment'] realtime > div {
		color:#880E4F;
	}

	section[data-type='electricite'] realtime > div {
		color:#004D40;
	}

	section[data-type='eau'] realtime > div {
		color:#0D47A1;
	}

	section[data-type='recyclage'] realtime > div {
		color:#263238;
	}

	section realtime desc {
		padding: 0 20px 0 0;
		font-size:smaller;
	}

	section realtime num {
		font-size: medium;
		color: #d60b51;
		background:#CFD8DC;
		display: block;
		padding: 20px 40px;
		clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	}



	calendar {
		z-index:2;
		position: absolute;
		width: 30%;
		left: 70%;
		height: 80vh;
		top: 0vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}

	calendar > div {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 90%;
		padding: 0 5%;
	}

	calendar > div:last-child {
		margin: auto 0;
	}

	calendar span {
		text-align: center;
		width:100%;
		position: relative;

		vertical-align: middle;
		display: inline-block;
		padding: 20px 0;
		z-index: 0;
		color: #607D8B;
		text-shadow: -1px -1px 1px rgba(0,0,0,.2);
		font-weight: 300;
	}

	calendar span v {
		background: #ECEFF1;
		padding:10px;
	}
	calendar span:after {
		content: '';
		width: 90%;
		height: 1px;
		background: #607D8B;
		position: absolute;
		top: 50%;
		left: 5%;
		z-index: -1;
		box-shadow: -1px -1px 1px rgba(0,0,0,.2);
	}

	calendar next,
	calendar li {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		background: #fff;
		margin: 10px 0;
	}


	calendar li.old {
		background: #FCE4EC;
	}

	calendar when {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0 0 auto;
		padding: 5px 15px;
		background: #d60b51;
		color: #fff;
		width: 1.2em;
	}

	calendar li.old when {
		background: #F50057;
	}

	calendar when m {
		font-size: 80%;
	}

	calendar when d {
		font-weight:900;
	}

	calendar li.old m,
	calendar li.old d {
		color: #ECEFF1;
	}

	calendar what {
		flex: 1 0;
		text-align: center;
		font-size: 70%;
		font-weight: 300;
		padding: 0 10px;
	}

	team {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30vw;
		height: 20vh;
		z-index:2;
	}

	team span {
		text-align: center;
		width: 100%;
		position: relative;
		vertical-align: middle;
		display: inline-block;
		padding: 20px 0;
		z-index: 0;
		color: #607D8B;
		text-shadow: -1px -1px 1px rgba(0,0,0,.2);
		font-weight: 300;
	}

	team span v {
		background: #ECEFF1;
		padding: 10px;
	}

	team span:after {
		content: '';
		width: 90%;
		height: 1px;
		background: #607D8B;
		position: absolute;
		top: 50%;
		left: 5%;
		z-index: -1;
		box-shadow: -1px -1px 1px rgba(0,0,0,.2);
	}

	team ul {
		display:flex;
		flex-direction: column;
		justify-content:space-around;
		align-items:center;
	}

	team li {
		list-style:none;
		font-weight:300;
		font-size:80%;
		padding:5px 10px;
	}

	team li k {
		color:#d60b51;
	}

	team li at {
		padding: 0 5px;
		color:#000;
	}

	.active {
		z-index:2;
	}


	.active intro {
		left: 0%;
		top: 0%;
		transition: left .5s ease-out, top .5s ease-out;
	}

	.active article {
		opacity:1;
		transition: opacity 1.5s 1s ease-in-out;
	}



	@keyframes in {
		from {top:-100vh;}
		to {top:0vh;}
	}

	@keyframes out {
		0% {top: 0vh;opacity:1;}
		97% {top: 100vh;opacity:1;}
		98% {top:100vh;opacity:0;}
		99% {top: -100vh;opacity:0;}
		100% {top: -100vh; opacity:1;}
	}


	.out action {
		top:0;
		opacity:1;
		animation: out 2s .5s forwards;
	}

	.active action {
		top:-100vh;
		opacity:1;
		animation: in 2s .5s forwards;
	}

	.active realtime {
		opacity: 1;
		transition: opacity 1.5s 2s ease-out;
	}

	.active realtime:after {
		right:-120%;
		transition: right 0s 0s ease-out;
	}



	#realtimelabel,
	#actionlabel {
		top: 0;
		position: absolute;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		padding: 20px 0;
		z-index: 0;
		color: #607D8B;
		text-shadow:-1px -1px 1px rgba(0,0,0,.2);
		font-weight: 300;
	}

	#actionlabel {
		left: 35%;
		width: 35%;
	}

	#realtimelabel {
		left: 70%;
		width: 30%;
		display: none;
	}

	#realtimelabel:after,
	#actionlabel:after {
		content: '';
		width: 90%;
		height: 1px;
		background: #607D8B;
		position: absolute;
		top: 50%;
		left: 5%;
		z-index: -1;
		box-shadow:-1px -1px 1px rgba(0,0,0,.2);
	}

	#realtimelabel span,
	#actionlabel span {
		background: #ECEFF1;
		padding: 10px;
	}
